/*************/
/*Background*/
/************/

body{
    background : url('../img/Planet/BG_capsee3.png');
    font-family: 'Muli', 'Verdana','sans-serif';
    font-size: 14px;
}


/*********/
/*Navbar*/
/********/
nav{
    position: relative;
}
.navbar-nav li img{
    width: 60px;
}
.navbar-brand a img{
    width: 120px;
}

/**************/
/*Div création*/
/**************/

div.col-sm-8{
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding : 20px;
}

div.col-sm-8 h1{
    text-decoration: underline;
    text-decoration-color: #28E0AE;
    background : url('../img/MOTIFS/Confettis_01.svg') top left no-repeat;
}

/****************/
/*Elements HTML*/
/**************/
h1.text-center{
    padding: 20px;
}

p{
    padding: 20px;
}

#artAjoute img{
    width: 50px;
    margin: 40px;
    border-radius : 3px;
}

ul{
    padding: 20px;
    margin: 10px;
}

li{
    display: inline-block;
    list-style: none;
    text-align: center;
    background-color: rgba(40,38,38,0.2);
    border-radius : 5px;
    margin : 10px;
}

.btn{
    background:rgba(40,224,174,0.3) ;
    color: #fff;
    text-align: center;
    display:block;
    margin: auto;
}

textarea{
    margin : 20px 20px 20px 0;
    width: 200px;
    padding-bottom: 20px
}