
/*************/
/*Background*/
/************/

body{

    font-family: 'Muli', 'Verdana','sans-serif';
    font-size: 15px;
    line-height: 27px;;
    color: #251556;
    margin:0;
}
#logoNav{
    margin: 30px;
}

.col-sm-7{
    background : url('../img/Planet/BG_capsee3.png');
    padding-left: 0;
    height: 100%;
}

div{
    padding-bottom: 20px;
}

#profil{
    padding-bottom: 0;
}

#leftPlanete{
    position: relative;
    background: url('../img/Planet/Earth_final.png') top right no-repeat;
    height: 800px;
}

#compteDiv{
    background-color: #fff;
    border-radius: 5px;
    margin-left: 60px;
    float: right;
    padding-bottom:0;
}

#iconeCaps{
    display: inline-block;
    padding-bottom: 0;
    
}
#userIcon{
    float: left;
    width: 25px;
}

#croixButton{
    float: right;
    width: 15px;
}

#iconeCaps p{
    color: #28E0AE;
    margin: 30px;
}

padding-bottom

#codeCaps{
    margin: 10px;
    width: 20%;
}

#codeSubmit{
    background-color: #28E0AE;
    color: #fff;
}

#receptionCaps,
#envoyerCaps{
    text-align: center;
    background-color:rgba(40,38,38,0.2);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 100%;
}
#receptionCaps a,
#receptionCaps a:hover,
#envoyerCaps a,
#envoyerCaps a:hover{
    color: #000;
    text-decoration: none;
}

#parametres{
    padding-bottom:0;
}

#parametres a{
    color: #251556;
}

#parametres a:hover{
    color: #28E0AE;
    text-decoration-color: #28E0AE;
}