
/*************/
/*Background*/
/************/

body{
    background : url('../img/Planet/BG_capsee3.png');
    font-family: 'Muli', 'Verdana','sans-serif';
    font-size: 14px;
}


/*********/
/*Navbar*/
/********/
nav{
    position: relative;
    height: 120px;;
}
.navbar-nav li img{
    width: 60px;
}

/************/
/*Section 1*/
/***********/

div.container{
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

#planeteDiv{
    position: relative;
    background: url('../img/Planet/Earth_final.png') top right no-repeat;
    height: 800px;
}
#planeteBack{
    width: 400px;
    display : block;
    margin: auto;
    padding-top : 20px;
}
#msgIntention{
    position: relative;
    padding: 20px;
    padding-top: 50px;
}

#msgIntention p{
    padding-top: 20px;
    color: #fff;
    font-size: 24px;
    margin-left: 50px;
}
#msgIntention h1{
    padding-top: 120px;
    color: #fff;
    margin-left: 50px;
}

#readyButton{
    width: 150px;
    display: inline-block;
    margin-left: 50px;
    background-color: #28E0AE;
    border-block-color: #28E0AE;
    font-size: 18px;
    color: #fff;
}
#envoiButton{
    width: 150px;
    display: none;
    text-align: center;
    background-color: #28E0AE;
    border-block-color: #28E0AE;
    font-size: 18px;
    color: #fff;
    margin-left: 50px;
}
#envoiButton a{
    text-decoration: none;
    color: #fff;
}

#recevoirButton{
    width: 150px;
    display: none;
    text-align: center;
    background-color: #FD4291;
    border-block-color: #FD4291;
    font-size: 18px;
    margin-left: 50px;
}
/**************/
/*Formulaire */
/************/

.col-sm-3{
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
}
form p{
    padding-bottom: 20px;;
}

#inscrireButton{
    display: block;
    margin: auto;
    background-color: #28E0AE;
    margin-bottom: 10px;
}

.col-sm-3 img{
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;;
}

.col-sm-3 a{
    display: block;
    margin: auto;
    text-align: center;
    color:#282626;
    font-size: 14px;
}

.col-sm-3 a:hover{
    color: #282626;
    text-decoration-color: #282626;
}