
/*************/
/*Background*/
/************/

body{
    background : url('../img/Planet/BG_capsee3.png');
    font-family: 'Muli', 'Verdana','sans-serif';
    font-size: 25px;
    line-height: 40px;
}

button{
    width: 288px;
    text-align: center;
}


/*********/
/*Navbar*/
/********/
nav{
    position: relative;
    height: 120px;;
}
.navbar-nav li img{
    width: 60px;
}

/************/
/*Section 1*/
/***********/

div.container{
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

#planeteDiv{
    position: relative;
    background: url('../img/Planet/Earth_final.png') top right no-repeat;
    height: 800px;
}
#planeteBack{
    width: 400px;
    display : block;
    margin: auto;
    padding-top : 20px;
}
#msgIntention{
    position: relative;
    padding: 20px;
    padding-top: 50px;
}

#msgIntention h1{
    padding-top: 120px;
    color: #fff;
    margin-left: 50px;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 70px;
}

#msgIntention h2{
    font-family: 'Muli', sans-serif;
    font-size: 28px;
    color: #fff;
    line-height: 25px;
    font-weight: normal;

    padding-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;;
}

#readyButton{
    display: inline-block;
    margin-left: 50px;
    background-color: #28E0AE;
    color: #fff;
    border-radius: 3px;

    /*font*/
    color: #fff;
    font-size: 25px;
    font-size: 25px;
    font-weight: bolder;
}

#envoiButton{
    width: 185px;
    display: none;
    margin-left: 50px;
    background-color: #28E0AE;
    border-radius: 3px;
}

#recevoirButton{
    width: 185px;
    display: none;
    margin-left: 50px;
    background-color: #FD4291;
    border-radius: 3px;
}

#envoiButton a,
#recevoirButton a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
}