
/*************/
/*Background*/
/************/

body{
    background : rgba(156,90,211,0.2);
    font-family: 'Muli', 'Verdana','sans-serif';
    font-size: 14px;
}

/*********/
/*Navbar*/
/********/
nav{
    height: 50px;
}
.navbar-nav li img{
    width: 50px;
}

/************/
/*Section 1*/
/***********/

section{
    padding-bottom: 20px;
}
#planeteBack{
    width: 400px;
    display : block;
    margin: auto;
    padding-top : 20px;
    padding-bottom: 70px;
}

p.text-center{
    display: block;
    position: relative;
    color: #000000;
    font-size: 18px;
}

#readyButton{
    display: block;
    margin: auto;
    text-align: center;
    background-color: #28E0AE;
}

#readyButton{
    width: 134px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #28E0AE;
    border-block-color: #28E0AE;
    font-size: 18px;
    color: #fff;
}

#recevoirButton{
    width: 134px;
    display: none;
    margin: auto;
    text-align: center;
    background-color: #FD4291;
    border-block-color: #FD4291;
    font-size: 18px;

}